/* ! FONTS */

$font-family-sans-serif:  "proxima-nova", Helvetica, Arial, sans-serif !default;
$font-size-base: 16px;

/* ! FONT WEIGHTS */

$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

/* ! FONT SIZES */

$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 28px;
$font-size-xxxlarge: 32px;
$font-size-small: 14px;
$font-size-xsmall: 12px;