.col--footer
	.footer
		.foot__links
			.quick-links
				h3.ft__header Snel regelen
				ul
					li.ft__header Snel regelen
					li: a(href="#") Examen plannen
					li: a(href="#") Adres trainingslocatie
					li: a(href="#") Certificeringsposter aanvragen
					li: a(href="#") Software Assurance Vouchers inleveren
					li: a(href="#") Last minutes bekijken
			.follow
				h3.ft__header Volg Master it
				ul
					li.ft__header Volg Master it
					li.follow__newsletter-input
						.input-group.input-group-sm
							input.form-control(type="text" placeholder="Je emailadres...")
							span.input-group-btn
								button.btn.btn-primary(type='button') Inschrijven
					li.follow__facebook
						a(href="#")
							i.fa.fa-facebook-square 
							span.social--link-text Facebook
					li.follow__twitter
						a(href="#")
							i.fa.fa-twitter-square 
							span.social--link-text Twitter
					li.follow__linkedin
						a(href="#")
							i.fa.fa-linkedin-square 
							span.social--link-text LinkedIn
					li.follow__google-plus
						a(href="#")
							i.fa.fa-google-plus-square 
							span.social--link-text Google+
		.foot__small-print
			ul
				li.ft__info
					span.copyright Copyright Master it Training 2014 
					span.divider - 
					span.microsoft-partner Microsoft Gold Partner
				li.ft__link--sm: a(href="#") Privacy
				li.ft__link--sm: a(href="#") Voorwaarden
				li.ft__link--sm: a(href="#") Sitemap
				li.ft__link--sm: a(href="#") Contact
							