include _mixins
				
doctype html
html(lang="en")
	block header
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="author" content="")
		link(rel="shortcut icon" href="favicon.png")
		title #{pageTitle}
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet" href="css/app.css")
		script(type="text/javascript" src="//use.typekit.net/leh6owj.js")
		script(type="text/javascript")
			| try{Typekit.load();}catch(e){}
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		<![endif]-->
	body(class='#{bodyClass}')
		block content