!!! 5
div
	ul
		li
			a(href='#') Home
		li Trainingen			
	ul
		li
			a(href='#') Top 10
		li
			a(href='#') Beheer
		li
			a(href='#') Development
		li
			a(href='#') Gebruik
div
	h1 Trainingen
div
	p
		| Hier komt de introductietekst met SEO-optimized termen voor deze pagina. Conseratur autempe libus. Biscid utem fuga. Ilitiis eaquidio corum il ium quo molor maioratquis as pa non nonseque. Em ipsunt fugitiust vid eario. Hendige niminct inveles nus iligendiatis vollorem soloritatiam aut ma non pa nossum atio. Imolori onsendunt ut aut eatempo reressi magnient magni cum nim idel ipit ute seditas aspe volendae poritatem corum volorum endaes dit venimi.
div
	h3 Bij Master it Training leer je alleen wat je echt nodig hebt.
	ul
		li Ervaren trainers met state-of-the-art kennis
		li Kies zelf wanneer en waar je wilt trainen
		li Geplande trainingen gaan altijd door		      
	ul
		li
			a(href='#') Onze trainers
		li
			a(href='#') Onze methode
		li
			a(href='#') Erkenningen
		li
			a(href='#') Referenties
div
div
	h2 Beheer
	h3 Microsoft
	ul
		li
			a(href='#') BizTalk
			| (2)
		li
			a(href='#') Exchange Server
			| (15)
		li
			a(href='#') Forefront
			| (4)
		li
			a(href='#') Lync Server
			| (9)
		li
			a(href='#') CRM
			| (16)
		li
			a(href='#') Scripting
			| (6)
		li
			a(href='#') SharePoint
			| (14)
		li
			a(href='#') SQL Server
			| (40)
		li
			a(href='#') System Center
			| (16)
		li
			a(href='#') Windows
			| (18)
		li
			a(href='#') Windows Server
			| (42)
	h3 Algemeen
	ul
		li
			a(href='#') Cisco
			| (9)
		li
			a(href='#') Citrix
			| (11)
		li
			a(href='#') Cloud Computing
			| (20)
		li
			a(href='#') CompTIA
			| (4)
		li
			a(href='#') Juniper
			| (10)
		li
			a(href='#') Linux
			| (6)
		li
			a(href='#') NetApp
			| (6)
		li
			a(href='#') Oracle
			| (16)
		li
			a(href='#') RES Software
			| (5)
		li
			a(href='#') Security
			| (7)
		li
			a(href='#') VMware
			| (10)
		li
			a(href='#') Overig
			| (12)
div
	h2 Development
	h3 Microsoft
	ul
		li
			a(href='#') ASP.NET/ADO.NET
			| (12)
		li
			a(href='#') BizTalk
			| (2)
		li
			a(href='#') SharePoint
			| (13)
		li
			a(href='#') SQL Server
			| (15)
		li
			a(href='#') VBA (Microsoft Office)
			| (4)
		li
			a(href='#') Visual Basic 6
			| (1)
		li
			a(href='#') Visual Basic.NET
			| (1)
		li
			a(href='#') Visual C#.NET
			| (8)
		li
			a(href='#') Visual Studio
			| (44)
	h3 Algemeen
	ul
		li
			a(href='#') C/C++
			| (5)
		li
			a(href='#') HTML5
			| (9)
		li
			a(href='#') Internet
			| (3)
		li
			a(href='#') Java
			| (10)
		li
			a(href='#') JavaScript
			| (4)
		li
			a(href='#') Packaging / Installing
			| (3)
		li
			a(href='#') XML
			| (3)
		li
			a(href='#') Overig
			| (10)
div
	h2 Gebruik
	h3 Microsoft
	ul
		li
			a(href='#') Access
			| (3)
		li
			a(href='#') CRM
			| (11)
		li
			a(href='#') Excel
			| (10)
		li
			a(href='#') Office
			| (19)
		li
			a(href='#') Outlook
			| (1)
		li
			a(href='#') PowerPoint
			| (2)
		li
			a(href='#') Project
			| (4)
		li
			a(href='#') Visio
			| (3)
		li
			a(href='#') Windows
			| (3)
		li
			a(href='#') Word
			| (7)
		li
			a(href='#') SharePoint
			| (15)
	h3 Algemeen
	ul
		li
			a(href='#') Cisco
			| (1)
		li
			a(href='#') ITIL / PRINCE
			| (5)
		li
			a(href='#') iWriter
			| (4)
div
	p Trainingen lijst
div
	ul
		li
			a(href='#') Home
		li
			a(href='#') Trainingen
		li.active Windows Server			
	ul
		li
			a(href='#') 2012
		li
			a(href='#') 2010
		li
			a(href='#') 2008
		li
			a(href='#') 2005
		li
			a(href='#') Certificeringen
div
	h1 Windows Server trainingen
div
	p
		| Hier komt de introductietekst met SEO-optimized termen voor deze pagina. Conseratur autempe libus. Biscid utem fuga. Ilitiis eaquidio corum il ium quo molor maioratquis as pa non nonseque. Em ipsunt fugitiust vid eario. Hendige niminct inveles nus iligendiatis vollorem soloritatiam aut ma non pa nossum atio. Imolori onsendunt ut aut eatempo reressi magnient magni cum nim idel ipit ute seditas aspe volendae poritatem corum volorum endaes dit venimi lorem ipsum ...
	p
		a(href='#') Meer informatie
div
	h2 Windows Server 2012
div
	h4
		| MS10969
	h3 Active Directory Services with Windows Server 2012 R2
	p 5 dagen
	p € 2.290
div
	h4 MS20411
	h3 Administering Windows Server 2012 R2
	p 5 dagen
	p € 1.985
	p Korting
	p € 2.290
div
	h4
		| MS20413
	h3 Designing and Implementing a Server Infrastructure
	p 5 dagen
	p € 2.290
div
	h4 PS30
	h3 Automating Windows Administration with Windows PowerShell 3.0
	p 4 dagen
	p € 1.795
div
	h4
		| MS10970
	h3 Networking with Windows Server 2012 R2
	p 5 dagen
	p € 2.290
div
	h4 MS20412
	h3 Configuring Advanced Windows Server 2012 R2 Services
	p 5 dagen
	p € 2.290
div
	h2 Windows Server 2010
div
	h4 MS20412
	h3 Configuring Advanced Windows Server 2010 R2 Services
	p 5 dagen
	p € 2.290
div
	h2 Windows Server Certificeringen
div
	h4 MCSESI
	h3 MCSE Server Infrastructure CertificeringsPas
	p 9 maanden
	p bel!
div
	h4 MS20414
	h3 Implementing an Advanced Server Infrastructure
	p 5 dagen
	p € 2.290
div
	h4 MS20417
	h3 Upgrading Your Skills to MCSA Windows Server 2012 en 2012 R2
	p 5 dagen
	p € 1.985
	p Korting
	p € 2.290
div
	h4 MS20413
	h3 Designing and Implementing a Server Infrastructure
	p 5 dagen
	p € 2.290
div
	h4 MS20414
	h3 Implementing an Advanced Server Infrastructure
	p 5 dagen
	p € 2.290
div
	h4 MS20415
	h3 Fundamentals of a Windows Server 2012 Infrastructure
	p 5 dagen
	p € 2.290
div
div
	h4 MS20410
	h3 Installing and Configuring Windows Server 2012 R2
	p 5 dagen
	p € 2.290
	p Nieuw
div
	h3 Trainer Christian Peters
div
	ul
		li
			a(href='#') Home
		li
			a(href='#') Trainingen
		li
			a(href='#') Windows Server
		li Fundamentals of a Windows Server 2012 Infrastructure
div
	h1 Fundamentals of a Windows Server 2012 Infrastructure
div
	p
		| Learn about the Fundamental building blocks that go into building a Windows Server infrastructure with Windows Server 2012. This five day training covers the basic skills and knowledge that are required in order to build a Windows Server Infrastructure. It covers networking architecture and topologies, security considerations and best practices as well as basic Windows Server administration skills and technologies such as Windows Server 2012 Installation, configuration, maintenan...
	p
		a.read-more-link(href='#') Lees verder
div
	ul
		li
			a(href='#') Over deze training
		li
			a(href='#') Voor wie is deze training
		li
			a(href='#') Onderdelen van deze training
		li
			a(href='#') Veelgestelde vragen
		li
			a(href='#') Voorkennis en vervolgtrainingen
div
	h2 Over Fundamentals of a Windows Server 2012 Infrastructure
div
	p Toon:
	ul
		li
			a(href='#') Omschrijving
		li
			a(href='#') Voor wie
		li
			a(href='#') Onderdelen
		li
			a(href='#') Veelgestelde vragen
		li
			a(href='#') Reacties van cursisten
div
	h3 Module 1: Installing and Configuring Windows Server 2012
	p
		| This module explains how the Windows Server 2012 editions, installation options, optimal service and device configuration and general post-installation configuration all contribute to the functionality and effectiveness of your Windows Server.
	h4 Lessons
	ul
		li Installing Windows Server.
		li Configuring Services.
		li Configuring Peripherals and Devices.
	h3 Module 2: Implementing Storage in Windows Server
	p
		| This module will introduce you to different storage technologies, discuss how to implement the storage. Que in endia eaqui ut aute estis vera doles pa quo et rae volore. Aliquidipsunt premporeiur ab ium et eum aut estrum re velis ad quiati odi dis in nobit quatent, sitiossimus magnis essunt.
div
	h2 Voorkennis en vervolgtrainingen
div
	p Toon certificering:
	ul
		li
			a(href='#') Windows 8 Upgrade
		li
			a(href='#') Windows Server 2008
		li
			a(href='#') Windows Server 2012 Upgrade
	p
		a(href='#') Naar certificering Windows 8 Upgrade
div
	h4 MS10969
	h3 Active Directory Services with Windows Server 2012 R2
	div
		h4 MS20413
		h3 Designing and Implementing a Server Infrastructure
	div
	div
		h4 MS20415
		h3 Fundamentals of a Windows Server 2012 Infrastructure
	div
		h4 PS30
		h3 Automating Windows Administration with Windows PowerShell 3.0
	div
		h4 MS20411
		h3 Administering Windows Server 2012 R2
div
	h2 Plan je training
	p
		label
			input#PlanJeTraining_0(type='radio', name='PlanJeTraining', value='week')
			| Ik kies een week
		br
		label
			input#PlanJeTraining_1(type='radio', name='PlanJeTraining', value='dagen')
			| Ik plan dagen in
		br
		label
			input#PlanJeTraining_2(type='radio', name='PlanJeTraining', value='later')
			| Dit doe ik later
	h2 Kies je locatie
	p
		label
			input#KiesJeLocatie_0(type='checkbox', name='KiesJeLocatie', value='amsterdam')
			| Amsterdam
		br
		label
			input#KiesJeLocatie_1(type='checkbox', name='KiesJeLocatie', value='eindhoven')
			| Eindhoven
		br
		label
			input#KiesJeLocatie_2(type='checkbox', name='KiesJeLocatie', value='rotterdam')
			| Rotterdam
		br
		label
			input#KiesJeLocatie_3(type='checkbox', name='KiesJeLocatie', value='utrecht')
			| Utrecht
		br
div
	.datepicker.datepicker-inline
		.datepicker-days(style='display: block;')
			table.table-condensed
				thead
					tr
						th.cw  
						th.prev(style='visibility: visible;') «
						th.datepicker-switch(colspan='5') Juni 2014
						th.next(style='visibility: visible;') »
					tr
						th.cw  
						th.dow Ma
						th.dow Di
						th.dow Wo
						th.dow Do
						th.dow Vr
						th.dow Za
						th.dow Zo
				tbody
					tr
						td.cw 22
						td.day.old 26
						td.day.old 27
						td.day.old 28
						td.day.old 29
						td.day.old 30
						td.day.old 31
						td.day 1
					tr
						td.cw 23
						td.day 2
						td.day 3
						td.day 4
						td.day.today 5
						td.day 6
						td.day 7
						td.day 8
					tr
						td.cw 24
						td.day 9
						td.day 10
						td.day 11
						td.day 12
						td.day 13
						td.day 14
						td.day 15
					tr
						td.cw 25
						td.day 16
						td.day 17
						td.day 18
						td.day 19
						td.day 20
						td.day 21
						td.day 22
					tr
						td.cw 26
						td.day 23
						td.day 24
						td.day 25
						td.day 26
						td.day 27
						td.day 28
						td.day 29
					tr
						td.cw 27
						td.day 30
						td.day.new 1
						td.day.new 2
						td.day.new 3
						td.day.new 4
						td.day.new 5
						td.day.new 6
				tfoot
					tr
						th.today(colspan='8') Vandaag
					tr
						th.clear(colspan='7', style='display: none;') Clear
		.datepicker-months(style='display: none;')
			table.table-condensed
				thead
					tr
						th.prev(style='visibility: visible;') «
						th.datepicker-switch(colspan='5') 2014
						th.next(style='visibility: visible;') »
				tbody
					tr
						td(colspan='7')
							span.month Jan
							span.month Feb
							span.month Mrt
							span.month Apr
							span.month Mei
							span.month Jun
							span.month Jul
							span.month Aug
							span.month Sep
							span.month Okt
							span.month Nov
							span.month Dec
				tfoot
					tr
						th.today(colspan='8') Vandaag
					tr
						th.clear(colspan='7', style='display: none;') Clear
		.datepicker-years(style='display: none;')
			table.table-condensed
				thead
					tr
						th.prev(style='visibility: visible;') «
						th.datepicker-switch(colspan='5') 2010-2019
						th.next(style='visibility: visible;') »
				tbody
					tr
						td(colspan='7')
							span.year.old 2009
							span.year 2010
							span.year 2011
							span.year 2012
							span.year 2013
							span.year 2014
							span.year 2015
							span.year 2016
							span.year 2017
							span.year 2018
							span.year 2019
							span.year.new 2020
				tfoot
					tr
						th.today(colspan='8') Vandaag
					tr
						th.clear(colspan='7', style='display: none;') Clear
	ul
		li
			a(href='#') Beschikbaar
		li
			a(href='#') Korting
div
	h4 MS20415   
	p 5 dagen   
	p open masterclass   
	p € 1.895
	p
		| Prijs per deelnemer, inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW.
	p
		strong Schrijf je nu in en ontvang een voetbaltafel!
	p Kies een week in de kalender.
	p
		a(href='#') Schrijf je in
	p
		a(href='#') Stuur training door
div
div
	ul
		li
			a(href='#') Home
		li
			a(href='#') Certificeringen
		li Microsoft Windows Server 2008 certificering
div
	h1 Microsoft Windows Server 2008 certificering
div
	p
		| Windows Server 2008, de opvolger van Windows Server 2003, biedt vele verbeteringen op het gebied van o.a. beheer en flexibiliteit. Introductietekst waarin onder andere de certificeringspas aan bod komt. Ullescium, a audantum id eum quid esti cum id ut quatestoria commolut ex explibus, ni viditatate modit dolores tecatur adiate voloreria sime oditionseque sintiis tibusti sciatus audignihiti dest laborestrum la pro bersperumque volutatectur sapeles equatem...
	p
		a(href='#') Lees verder
div
	ul
		li
			a(href='#') Certificeringstraject
		li
			a(href='#') Over deze certificering
		li
			a(href='#') Voor wie is deze certificering
		li
			a(href='#') Veelgestelde vragen
		li
			a(href='#') Vervolgtrajecten
div
	div
		p
			input#radio(type='radio', name='radio', value='radio')
			label(for='radio') Basis (€ 3.950)
			a(href='#') Meer informatie
		p
			| De CertificeringsPas Basis is met name geschikt als je trainingsdagen wilt combineren met thuisstudie.
		p
			input#radio(type='radio', name='radio', value='radio')
			label(for='radio') Plus (€ 5.990)
			a(href='#') Meer informatie
		p
			| Bij de CertificeringsPas Plus ontvang je per training het aantal trainingsdagen dat hier standaard voor staat.
		p
			input#radio(type='radio', name='radio', value='radio')
			label(for='radio') Onbeperkt (€ 7.750)
			a(href='#') Meer informatie
		p
			| Onze meest complete CertificeringsPas waarbij je onbeperkt kunt komen trainen voor je certificering.
		p
			input#checkbox2(type='checkbox', name='checkbox2')
			label(for='checkbox2') Inclusief de 3 examens (+ € 480)
div
	h4 MCSAWS08
	p 1 jaar
	p certificeringspas
	p
		| Prijs per deelnemer, inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW.
	p Schrijf je nu in en ontvang een ipad mini!
	p
		a(href='#') Schrijf je in
	p
		a(href='#') Stuur certificering door
div
	h2 Certificeringstraject	
div
	h3 Stap 1
	p
		| The Microsoft Certified Solutions Associate (MCSA) on Windows Server 2008 credentials are intended for information technology (IT) professionals who work in the complex computing environment of medium to large companies.
	h4 Trainingen
	ul
		li
			| 6425 Configuring and Troubleshooting   Windows Server 2008 Active Directory   Domain Services
		li
			| 6426 Configuring and Troubleshooting   Identity and Access Solutions with Windows   Server 2008 Active Directory
	h4 Examen
	ul
		li Examen 70-640 Windows Server 2008   Active Directory, Configuring
div
	div
		h3 Stap 2
		p
			| The Microsoft Certified Solutions Accociate (MCSA) on Windows Server 2008 credentials are intended for information technology (IT) professionals who work in the complex computing environment of medium to large companies.
		h4 Trainingen
		ul
			li
				| 6421 Configuring and Troubleshooting a   Windows Server 2008 & 2008 R2 Network   Infrastructure
		h4 Examen
		ul
			li Examen 70-642 Windows Server 2008   Network Infrastructure, Configuring
	div
		h3 Gecertificeerd als
		h4 Microsoft Certified Solutions Associate (MCSA): Windows Server 2008
	div Schrijf je nu in en ontvang een iPad Mini!
	div
		h2 Over Microsoft Windows Server 2008 certificering
	div
		p Toon:
		ul
			li
				a(href='#') Omschrijving
			li
				a(href='#') Voor wie
			li
				a(href='#') Veelgestelde vragen
			li
				a(href='#') Reacties van cursisten
	div
		h3
			a(href='#') Nitaspelis es velectem am ium explabor alit?
		h3
			a(href='#') Trumquo stemped itassim possin conemol uptatin?
		p
			| Inti doluptatas comnimaximus seque endantias alia vendam audaepres sus  doloreprepe lita qui audaepudam aut ommodi beribuscid quatquis net lic tem  vendem con pe anditas dolut officitatium volut verum aut ea intusant, to tem  fuga. Puda volum vel ipiet que nonsed minum quodiae cullaborem ipsusda ndebit  etus molorernatia aliqui dem a dem ea debis doleseque volorru.
		h3
			a(href='#') Dant sequi dolorib usapidi totatur?
		h3
			a(href='#') Cusapel eate erit id es sectem nesequae doluptae el ipsam?
	div
		h2 Vervolgtrajecten
	div
		h4 MCITP
		h3 Windows Server 2008 Server Administrator
	div
		h4 MCITP
		h3 Windows Server 2008 Enterprise Administrator
	div
		h4 MCITP
		h3 Windows Server 2008 R2, Virtualization 
	div
		ul
			li
				a(href='#') Home
			li
				a(href='#') Trainingen
			li
				a(href='#') Windows Server
			li
				a(href='#') Fundamentals of a Windows Server 2012 Infrastructure
			li
				a(href='#') Inschrijven
	div
		h1 Inschrijven
		p
			a(href='#') Terug naar de training
		h2
			| voor de training
			span Fundamentals of a Windows Server 2012 Infrastructure
	div
		p
			| Heeft u al een Master it Training account?
			a(href='#') Log in om uw gegevens op te halen.
	div
		p   Vul alstublieft alle velden correct in.
	div
		h2 Contactpersoon
	div
		label Deelnemer
		input#checkbox(type='checkbox', name='checkbox')
		label(for='checkbox') Deze persoon is ook een deelnemer
		label Aanhef
		label
			input#aanhef_0(type='radio', name='aanhef', value='dhr')
			| De heer
		label
			input#aanhef_1(type='radio', name='aanhef', value='mvr')
			| Mevrouw
		label(for='textfield') Naam
		input(name='Voornaam', type='text', placeholder='Voornaam...')
		input(name='Tussenvoegsel', type='text', placeholder='Tussenvoegsel...')
		input(name='Achternaam', type='text', placeholder='Achternaam...')
		label(for='textfield') Bedrijfsnaam
		input(type='text', name='Bedrijfsnaam', placeholder='Bedrijfsnaam...')
		label(for='textfield') Adres
		input(type='text', name='Straat', placeholder='Straat...')
		input(type='text', name='Nummer', placeholder='Nummer...')
		label(for='textfield') Postcode en plaats
		input(type='text', name='Postcode', placeholder='Postcode...')
		input(type='text', name='Plaats', placeholder='Plaats...')
		label(for='select') Land
		select#select(name='select')
			option(value='nederland') Nederland
			option(value='belgie') België
		label(for='tel') Telefoonnummer
		input(type='tel', name='Telefoonnummer')
		label(for='email') E-mail adres
		input(type='email', name='E-mail adres')
		input(type='checkbox', name='Updates')
		label(for='checkbox2') Ja, stuur mij nieuws & updates via e-mail
	div
		p
			label(for='textfield') Vragen of opmerkingen (optioneel)
			input(name='Vragen', type='text', placeholder='Uw vraag of opmerking...')
	div
		label Factuuradres
		input(type='checkbox', name='Factuuradres')
		label(for='checkbox2') Gebruik een apart factuuradres
	div
		label Voorwaarden
		input(type='checkbox', name='Voorwaarden')
		label(for='checkbox2') Ik ga akkoord met de algemene voorwaarden
	div
		p
			a(href='#') + Voeg een deelnemer toe
	div
		input(type='submit', name='submit', value='Nu inschrijven')
		p
	div
		div MS20415
		h3 Fundamentals of a Windows Server 2012 Infrastructure
		h4 5 dagen   open masterclass
		p Dag 1. Ma 17 Aug 2014 Eindhoven
		p Dag 2. Di 18 Aug 2014 Eindhoven
		p Dag 3. Wo 19 Aug 2014 Eindhoven
		p Dag 4. Do 20 Aug 2014 Eindhoven
		p Dag 5. Vr 21 Aug 2014 Eindhoven
		p Aantal deelnemers: 1
		p
			a(href='#') + Voeg een deelnemer toe
		p Totaal 1 x € 1.895 =    € 1.895
		p
			| Prijs inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW
	div
		ul
			li
				a(href='#') Home
			li Bevestiging
	div
		h1 Hartelijk dank voor uw inschrijving
		h2 voor de training Fundamentals of a Windows Server 2012 Infrastructure
	div
		p
			| Dank u wel voor het inschrijven voor deze training! U zult geen spijt krijgen van uw keuze voor Master it Training. U ontvangt een training op maat en mag uitstekende service van ons verwachten.
		p
			| Binnen 2 werkdagen nemen we contact met u op om uw training met u te bespreken. U kunt uw eigen wensen voor datum en plaats doorgeven en we beantwoorden al uw vragen.
		p
			strong
				| Onze Jessica en Vivian zullen onder andere de volgende vragen stellen. Als u ze alvast wilt beantwoorden maakt u ons blij!
	div
		h2 Aanvullende vragen
	div
		h3 Uw wensen voor deze training
	div
		p Graag horen we uw wensen voor deze training. We bieden u de volgende keuzes.
	div
		label Taal software
		label
			input#TaalSoftware_0(type='checkbox', name='TaalSoftware', value='nederlands')
			| Nederlands
		br
		label
			input#TaalSoftware_1(type='checkbox', name='TaalSoftware', value='engels')
			| Engels
		br
	div
		label Taal studiemateriaal
		label
			input#TaalSoftware_0(type='checkbox', name='TaalSoftware', value='nederlands')
			| Nederlands
		br
		label
			input#TaalSoftware_1(type='checkbox', name='TaalSoftware', value='engels')
			| Engels
		br
	div
		label iPad mini actie
		label(for='select2') Select:
		select#select2(name='select2')
			option(value='ipad-mini-retina-zwart') iPad Mini retina - zwart
			option(value='ipad-mini-retina-wit') iPad Mini retina - wit
	div
		label Q-Park parkeerkaart
		label(for='select3') Select:
		select#select3(name='select3')
			option(value='geen') Geen Q-Park parkeerkaart
			option(value='wel') Wel Q-Park parkeerkaart
	div
		h3 Wachtwoord voor uw Master it Training account
		p
			| Kies uw eigen wachtwoord en u krijgt toegang tot uw persoonlijke Master it Training account. Hiermee kunt u eenvoudig uw trainingshistorie inzien.
		label(for='password') Wachtwoord
		input(name='Wachtwoord', type='password', placeholder='Wachtwoord...')
		label(for='password') Herhaal wachtwoord
		input(name='Wachtwoord', type='password', placeholder='Herhaal wachtwoord...')
	div
		p
			input(type='submit', name='submit', value='Verstuur')
	div
		ul
			li Home
			li
				a(href='#') Master it
		ul
			li
				a(href='#') Open masterclass
			li
				a(href='#') Certificeringspas
			li
				a(href='#') Trainers & management
			li
				a(href='#') Erkenningen
			li
				a(href='#') Referenties
			li
				a(href='#') Vacatures
	div
		h1 Master it Training
		h2 Leer alleen wat je echt nodig hebt.
		p
			| Master it Training verzorgt sinds 1999 trainingen en opleidingen op het gebied van systeem- en netwerkbeheer, software development en kantoorautomatisering. Met ruim 650 verschillende titels, beschikken wij over een breed en gevarieerd aanbod en kunnen wij invulling geven aan vrijwel iedere IT opleidingsvraag vanuit zowel het bedrijfsleven als de overheid.
	div
		p  
		ul
			li
				a(href='#') Onze methode: open masterclass
			li
				a(href='#') Onze trainers & management
			li
				a(href='#') Onze trainingslocaties
	div
		h2 Master it training in cijfers
	div
		h3 650
		p verschillende trainingen voor beheer,  development en gebruik
		ul
			li
				a(href='#') Trainingen
			li
				a(href='#') Certificeringen
	div
		h3 27.372
		p tevreden cursisten sinds de oprichting in 1999
		p
			a(href='#') Opgericht in 1999
	div
		h3 8
		p deelnemers maximaal in onze unieke open masterclass
		p
			a(href='#') Onze methode
	div
		h3 4
		p trainingslocaties op goed bereikbare plaatsen
		p
			a(href='#') Trainingslocaties
	div
		h2 De beste IT-opleider
	div
		p
			| Informatie over kernwaarden en doelstellingen quunt od que perfere mperepuda nia sim dus nonse doluptat eati veritatem volut modit, nobitio berum voluptiis es eos eatusam inusandae velendi illest, qui aut et liquo dus ab ipsam ent intorepernam simenit evel magnatem eossitiores ex escium faceritae ipis asimet int et, quunt exerum iunt eictur.
		p
			| Asinvel idit utem fugitatis et ipis et audio voluptum enis eos sumquas sitatur aruntiur maximet inullit, alitasp ellant inctius danderia volumquae veribus sime nonescit volendae persped modisse et autatem quiatur, cuptatium qui quas eaquo et aligent iundent laborro ipidunto millabore pero isimus volores simaionsed quae.
		p
			a(href='#') Lees verder
	div
		h2 Onze trainers & management
	div
		h3 Jasper Voorhoeve
		h4 Directeur en oprichter
	div
		h3 Jos van Vegchel
		h4 Trainer o.a. Microsoft CRM
	div
		h3 Judith van der Ven
		h4 Marketing & communications
	div
		h3 Christian Peeters
		h4 Trainer .net en SQL Server
	div
		p
			a(href='#') Bekijk trainers & management
	div
		h2 Onze klanten
	div
		p Logo’s custom size
	div
		div
			div
			div
				div
	div
		p
			a(href='#') Wie zijn onze klanten
	div
		ul
			li
				a(href='#') Home
			li Nieuws    
	div
		h1 Nieuws
	div
		h2 Onderwerp
		ul
			li
				a(href='#') Alle onderwerpen
				| (99)
			li
				a(href='#') Certificeringen
				| (9)
			li
				a(href='#') Cloud
				| (9)
			li
				a(href='#') dotnetmag
				| (9)
			li
				a(href='#') HTML5
				| (9)
			li
				a(href='#') Hyper-V
				| (9)
			li
				a(href='#') Microsoft CRM
				| (9)
			li
				a(href='#') Office
				| (9)
			li
				a(href='#') Security
				| (9)
			li
				a(href='#') Sharepoint
				| (9)
			li
				a(href='#') SQL Server
				| (9)
			li
				a(href='#') System center
				| (9)
			li
				a(href='#') Visual Studio .net
				| (9)
			li
				a(href='#') Windows
				| (9)
			li
				a(href='#') Windows Server
				| (9)
			li
				a(href='#') Windows Store Apps
				| (9)
	div
		h2 Filter op schrijver
		ul
			li
				a(href='#') Alle schrijvers
				| (12)
			li
				a(href='#') Master it Training
				| (99)
			li
				a(href='#') Jos van Vegchel
				| (9)
			li
				a(href='#') Christian Peeters
				| (9)
			li
				a(href='#') Michiel van der Arend
				| (9)
			li
				a(href='#') Edwin Bastings
				| (9)
		p
			a(href='#') Bekijk onze trainers
	div
		h2 Canvas & Video
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Op de Microsoft Techdays heb ik 3 sessies verzorgd rondom HTML5 gerelateerde onderwerpen. De video registratie van deze sessie is inmiddels beschikbaar. Ik kreeg veel positieve reacties op mijn uitleg over de krachtige combinatie tussen HTML Canvas en Video. In deze blog kun je daar meer over terug vinden.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 HTML5 tijdens TechDays14
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Woensdag 16 en donderdag 17 april heeft onze collega Christian Peeters op verzoek van Microsoft drie sessies verzorgd tijdens de TechDays in Den Haag.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 Examentraining
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Van 12 tot 15 mei werd de TechEd North America 2014 georganiseerd. Tijdens de TechEd zijn er altijd examen preparatie sessies. De sessies zijn nu beschikbaar op Channel 9. Dus neem een kijkje en maak je slagingskans hoger.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 CRM 2013 mobiel
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Wat ik in mijn klassen met enige regelmaat hoor is: “Jammer dat ik daar die zware laptop voor mee moet sjouwen, geen zin in hoor”. Gelukkig hoeft dat ook niet meer.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 //Build/ Dag 2: Azure en .Net framework
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| De keynote van vandaag draaide vooral om Azure. En als je eerlijk bent, hebben ze ook flinke stappen daar gezet. Naast het Azure geweld was er vandaag ook flink wat aandacht voor .Net gerelateerde zaken en de Office365 / Sharepoint API’s. Hier volgt een samenvatting van de hoogte punten.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 Gratis Office gebruiken? Het kan met Office Online.
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Geen zin om een Office 365 abonnement aan te schaffen maar wel de behoefte om Office applicaties te gebruiken en met anderen samen aan documenten te werken? Het kan met Office Online.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 Eigen Cloud of Cloud services huren?
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Ja, het is zeer goed mogelijk dat men nu al werkt in de Cloud, maar waarom? De zogenaamde Cloud zorgt ervoor dat men zeer schaalbaar is in resources, high availability en een zo hoog mogelijke up-time om maar eens een paar zaken te noemen.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 //Build/ Dag 1 : Universal Windows Apps en Cortana
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| De eerste dag van de Build conference zit er op. Zoals alle grote Microsoft conferenties begint het met een groot spektakel. Het grootste nieuws: Universal Windows Apps, Phone 8.1 met Cortana de personal assistent en Windows 8.1 Update, met… ja daar is ie dan… het start menu.
		p
			a.read-more-link(href='#') Lees verder
	div
		h2 Help, CRM 2013 van Microsoft Dynamics ziet er anders uit dan normaal
		a(href='#')
			img(src='http://placehold.it/220x165')
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Soms gebeuren er zaken buiten je krachtenveld om. Plotseling werk je met een ander omgeving in CRM 2013.
		p
			a.read-more-link(href='#') Lees verder
	div
		a(href='#') + Meer nieuws
	div
		ul
			li
				a(href='#') Home
			li Contact	  
		ul
			li
				a(href='#') Trainingslocaties
			li
				a(href='#') Veelgestelde vragen
	div
		h1 Contact
	div
		p
			| Hier komt de introductietekst met SEO-optimized termen voor deze pagina. Conseratur autempe libus. Biscid utem fuga. Ilitiis eaquidio corum il ium quo molor maioratquis as pa non nonseque.
	div
		h3 Adres
		ul
			li Master it Training
			li Fellenoord 180
			li 5611 ZB Eindhoven			
		ul
			li
				a(href='#') 040 23 23 390
			li
				a(href='#') chat offline
			li
				a(href='#') info@masterit.nl
		p
			a(href='#') Veelgestelde vragen
	div
		h3 Volg Master it
		ul
			li
				a(href='#') Facebook
			li
				a(href='#') Twitter
			li
				a(href='#') Linkedin
			li
				a(href='#') Google+
		label E-mail nieuwsbrief
		input#email(type='email', name='email')
		input(type='submit', name='NieuwsbriefInschrijven', value='Inschrijven')
	div
		h2 Snel regelen
		div
			p
				a(href='#') Examen plannen
		div
			p
				a(href='#') Certificeringsposter aanvragen
		div
			p
				a(href='#') Software Assurance Vouchers inleveren
		div
			p
				a(href='#') Last minutes bekijken
	div
		h2 Traininglocaties
	div
		h4 Master it Training
		h3 Amsterdam
		ul
			li Gatwickstraat 33
			li 1043 GL Amsterdam
			li 030 75 19 737
		p
			a(href='#') Informatie & route
	div
		h4 Master it Training
		h3 Eindhoven
		ul
			li Fellenoord 180
			li 5611 ZB Eindhoven
			li 040 23 23 390
		p
			a(href='#') Informatie & route
	div
		h4 Master it Training
		h3 Rotterdam
		ul
			li Maastoren
			li Wilhelminakade 1
			li 3072 AP Rotterdam
			li 010 29 06 900
		p
			a(href='#') Informatie & route
	div
		h4 Master it Training
		h3 Utrecht
		ul
			li Stadion Galgenwaard
			li Herculesplein 359
			li 3584 AA Utrecht
			li 030 75 19 737
		p
			a(href='#') Informatie & route
	div
		h2 Veelgestelde vragen
		h3 Inschrijven 
		h4
			a(href='#') Nitaspelis es velectem am ium explabor alit?
		h4
			a(href='#') Trumquo stemped itassim possin conemol uptatin?
		p
			| Inti doluptatas comnimaximus seque endantias alia vendam audaepres sus doloreprepe lita qui  audaepudam aut ommodi beribuscid quatquis net lic tem vendem con pe anditas dolut officitatium  volut verum aut ea intusant, to tem fuga. Puda volum vel ipiet que nonsed minum quodiae cullaborem  ipsusda ndebit etus molorernatia aliqui dem a dem ea debis doleseque volorru.
		h4
			a(href='#') Dant sequi dolorib usapidi totatur?
		h4
			a(href='#') Cusapel eate erit id es sectem nesequae doluptae el ipsam?
		h3 Studiemateriaal 
		h4
			a(href='#') Endantur, santem quiaturios eic tem rerum is nonsequi idicae si restiossitat?
		h4
			a(href='#') Porpore iuntium utecae dem aut modis min pores?
	div
		ul
			li
				a(href='#') Home
			li Mijn account
	div
		h1 Mijn account
	div
		h2 Mijn gegevens
	div
		h3 Contactgegevens
		p De heer Richard Broersma
		p Flexible IT Solutions
		p Blekerssingel 42
		p 2807 DF Gouda
		p 06 12345678
		p r.broersma@flexible-it.nl
	div
		h3 Factuuradres
		p Mevrouw Hanneke Wildschut - de Jong
		p Flexible IT Solutions
		p Golf van Biskaje 23
		p 3446 XJ Woerden
	div
		p
			a(href='#') Wijzig
	div
	div
		h2 Mijn trainingen en certificeringen
	div
		h4 MS10969	  
		h3 Active Directory Services with Windows Server 2012 R2
		p 5 dagen training
		p Ingeschreven 23-05-2014
		ul
			li Richard Broersma
	div
		h4 MS20415		  
		h3 Fundamentals of a Windows Server 2012 Infrastructure
		p 4 dagen training
		p Ingeschreven 18-04-2014
		ul
			li Richard Broersma
			li Jeanette Wieringa-de Jong
			li Paul Verdonk
	div
		h4 MCSA		  
		h3 Windows Server 2012 Upgrade
		p 1 jaar certificering
		p Ingeschreven 11-12-2013
		ul
			li Richard Broersma
			li Bob Witteveen		
	div
		ul
			li
				a(href='#') Home
			li
				a(href='#') Sectie
			li
				a(href='#') Onderwerp
			li Huidige pagina lorem ipsum
	div
		h1 Huidige pagina lorem ipsum
		h2 Optionele subtitel quibus everi alibusaectur senimusda quuntem
		p
			span.nieuws__datum 23-04-2014
			span.nieuws__read-count 123 keer gelezen
		p
			| Introductie lorem ipsum dolor aque voluptatisti cus. Otatem rerumquas eat. Cones secus aut essundit et ut lam re pore saeraera simodio poreperia conse cuptae dolora volum quis ute con nullicia. Dignis as acient alignatis rehendis que dendist iaerspelit dolupta.
		img(src='http://placehold.it/620x374')
		p
			| Tekst aque voluptatisti cus. Otatem rerumquas eat. Cones secus aut essundit et ut lam re pore saeraera simodio magnia dolliquiae volor aut citibus tibuscit ere.
		hr
		h3 Tussenkop volupture
		p
			| Nullici andam, consequi comnima ximaxim commolu ptatus sequam, rem utecea doluptati quam que et imet ut magnisti oditaquibus dolorup tatat re nem inline link vetgedrukte tekst cursieve tekst sequo ipidigentis lorem ipsum dolor.
		ul
			li  Sed ut aut et, ut aut aborem volore rerumet quas rereiciet quiandit
			li  Parcien debit, ut earumenihil il est ut facilis sus nis dolupta 
		ol
			li  Quasper citemped quo ma autat idellupti volupta con lorem ipsum dolor virum
			li  Illaccaectur am, qui re num quiditatet occatem intempo reriossit 
		hr
		p  
		img(src='http://placehold.it/620x374')
		h3    Tussenkop volutem intempo
		p
			| Ide et esequiam volorio autpat velit can    rendeles quo bersperum aut parcien quo   veribus estione culland sed ut aut pore    aeperum, cus eni omnihitin magnia dolli    re consectibus volutem ut mod tibuscit    quam sit aut quossimus nam otatem citem    quasit earum harcillut liquo dolupta vel    qumasi cus et rereiciet quiandit reriossit    quatet pre pre, sunt evel.
		hr
		h3 Tussenkop andit occus dolorrume dolupta 
		p
			| Otatem rerumquas eat. Cones secus aut essundit et ut lam re pore volutem uttamos saeraera simodio magnia dolliquiae volor aut citibus tibuscit lorem ipsum.
	div
	div
		h2 Over Master it Training
		h3 Bij Master it Training leer je alleen wat je echt nodig hebt.
		ul
			li Ervaren trainers met state-of-the-art kennis
			li Kies zelf wanneer en waar je wilt trainen
			li Geplande trainingen gaan altijd door
		p
			a(href='#') Trainingen
		p
			a(href='#') Certificeringen
		ul
			li
				a(href='#') Onze trainers
			li
				a(href='#') Onze methode
			li
				a(href='#') Erkenningen
			li
				a(href='#') Referenties 
	div
		h2 Gerelateerde trainingen
		ul
			li
				span
					a(href='#') MS6292
				a(href='#')  Installing and Configuring  Windows 7 Client
			li
				span
					a(href='#') MS10774
				a(href='#')  Querying Microsoft SQL Server  2012
			li
				span
					a(href='#') MS10266
				a(href='#')  Programming with C# using  Microsoft .NET Framework 4
	div
		h2 Meest gelezen
		ol
			li
				a(href='#') //Build/ Dag 2: Azure en .Net framework
			li
				a(href='#') Examentraining
			li
				a(href='#') Help, CRM 2013 van Microsoft Dynamics  ziet er anders uit dan normaal
			li
				a(href='#') Eigen Cloud of Cloud services huren?
			li
				a(href='#') Canvas & Video
	div
		div
			div
				img(src='http://placehold.it/100x100')
				h2 Jos van Vegchel
				h3 Master it Trainer o.a. Microsoft CRM
				ul
					li
						a(href='#') Artikelen van Jos
					li
						a(href='#') Onze trainers
	div
		ul
			li
				a(href='#') Home
			li Zoek ‘server’		  
		ul
			li
				a(href='#') In Trainingen
			li
				a(href='#') In Certificeringen
			li
				a(href='#') In Informatie
	div
		h1
			| Zoek
			span ‘server’
	div
		h2
			| Trainingen: 142 resultaten voor
			span ‘server’
		h3 Beheer:
		ul
			li
				a(href='#') Exchange Server
			li
				a(href='#') Lync Server
			li
				a(href='#') SQL Server
			li
				a(href='#') Windows Server
		h3 Development :    
		ul
			li
				a(href='#') SQL Server
		div
			h4 MS10969
			h3 Active Directory Services with Windows Server 2012 R2
		div
			div
				h4
					| MS20411
				h3 Administering Windows Server 2012 R2
		div
			div
				h4
					| MS20412
				h3 Configuring Advanced Windows Server 2012 R2 Services
		div
			div
				h4
					| MS20417
				h3 Upgrading Your Skills to MCSA Windows Server 2012 en 2012 R2
		p
			a(href='#') + Alle 142 trainingen
	div
	div
		h2
			| Certificeringen: 63 resultaten voor
			span ‘server’
		div
			div
				h4
					| MCSA
				h3 SQL Server 2008
			div
				h4
					| MCSA
				h3 Windows Server 2008
			div
			div
				h4
					| MCSA
				h3 Windows Server 2012
			div
			div
				h4
					span MCSA
				h3 Windows Server 2012 Upgrade
			p
				a(href='#') + Alle 63 certificeringen
	div
		h2
			| Informatie: 126 resultaten voor
			span ‘server’
		div
			p
				a(href='#') Paginatitel volorem doluptati sequo autpat
			p
				| ...nullici andam, consequi comnima ximaxim commolu ptatus
				strong server
				| , rem utecea doluptati quam que et imet ut
				strong server
				| oditaquibus dolorup tatat re nem sequo ipidigentis...
		div
			p
				a(href='#') Paginatitel volorem doluptati sequo autpat
			p
				| ...nullici andam, consequi comnima ximaxim commolu ptatus
				strong server
				| , rem utecea doluptati quam que et imet ut
				strong server
				| oditaquibus dolorup tatat re nem sequo ipidigentis...
		div
			p
				a(href='#') Paginatitel volorem doluptati sequo autpat
			p
				| ...nullici andam, consequi comnima ximaxim commolu ptatus
				strong server
				| , rem utecea doluptati quam que et imet ut
				strong server
				| oditaquibus dolorup tatat re nem sequo ipidigentis...
		div
			p
				a(href='#') Paginatitel volorem doluptati sequo autpat
			p
				| ...nullici andam, consequi comnima ximaxim commolu ptatus
				strong server
				| , rem utecea doluptati quam que et imet ut
				strong server
				| oditaquibus dolorup tatat re nem sequo ipidigentis...
		div
			p
				a(href='#') Paginatitel volorem doluptati sequo autpat
			p
				| ...nullici andam, consequi comnima ximaxim commolu ptatus
				strong server
				| , rem utecea doluptati quam que et imet ut
				strong server
				| oditaquibus dolorup tatat re nem sequo ipidigentis...
		p
			a(href='#') + Meer resultaten
	div
	div
		p
			| Is deze e-mail niet goed zichtbaar,
			a(href='#') klik dan hier
			| .
	div
		div
			p
				img(src='localhost/805354.png', alt='Master it Training logo', title='Master it Training')
			h2 Nieuwsbrief
			h3 Februari 2015
	div
		h2 Nieuwsbrief titel nonsent espersperi autpat
		p
			| Introductie van de nieuwsbrief nulpa nonsent versperum non nobit delendunt acia imus, sae siminus, cus era non  lorem iditasitibus quiatur. Quiasint rem duntion enes vollupta sequiandae eaquibus etum. El mincipicid et etur sent et optaece ataspic tatiuntium volum eum re non pa di reprovi tatium fuga. Os ationse ribearc hillicabor maio. Et harum alitas eosandebit
			a(href='#') inline link
			strong vetgedrukte tekst
			em cursieve tekst
			| .
	div
	div
	div
		h3 Canvas & Video
		p
			img(src='http://placehold.it/220x165')
		p
			| Op de Microsoft Techdays heb ik 3 sessies verzorgd rondom HTML5 gerelateerde onderwerpen. De video registratie van deze sessie is inmiddels beschikbaar. Ik kreeg veel positieve reacties op mijn uitleg over de krachtige combinatie tussen HTML Canvas en Video. In deze blog kun je daar meer over terug vinden.
		p
			a(href='#') Lees verder
		p
			a(href='#') Bekijk alle HTML5 trainingen
	div
	div
		h3 CRM 2013 mobiel
		p
			img(src='http://placehold.it/220x165')
		p
			| Wat ik in mijn klassen met enige regelmaat hoor is: “jammer dat ik daar die zware laptop voor mee moet sjouwen, geen zin in hoor”. Gelukkig hoeft dat ook niet meer.
		p
			a(href='#') Lees verder
		p
			a(href='#') Certificeer je nu voor Microsoft CRM
	div
		h3 Eigen Cloud of Cloud services huren?
		p
			img(src='http://placehold.it/220x165')
		p
			| Ja, het is zeer goed mogelijk dat men nu al werkt in de Cloud, maar waarom? De zogenaamde Cloud zorgt ervoor dat men zeer schaalbaar is in resources, high availability en een zo hoog mogelijke up-time om maar eens een paar zaken te noemen.
		p
			a(href='#') Lees verder
		p
			a(href='#') Bekijk alle Cloud Computing trainingen
	div
	div
		h3 Nieuwe trainingen 
		ul
			li
				a(href='#')
					span MS10965
					| IT Service Management with System Center 2012 Service Manager
			li
				a(href='#')
					span CXD104-1I
					| Help Desk Citrix XenDesktop 7 Solutions
			li
				a(href='#')
					span MS10964
					| Cloud and Datacenter Monitoring with System Center 2012 R2 Operations  Manager
	div
	div
		h4 Contact
		ul
			li Master it Training
			li Fellenoord 180
			li 5611 ZB Eindhoven
		ul
			li
				a(href='#') 040 23 23 390
			li
				a(href='#') info@masterit.nl
	div
	div
	div
	div
	div
		h4 Volg Master it 
		ul
			li
				a(href='#') Facebook
			li
				a(href='#') Twitter
			li
				a(href='#') LinkedIn
			li
				a(href='#') Google+
	div
		p U ontvangt deze nieuwsbrief omdat u zich hiervoor hebt aangemeld.
		p
			a(href='#') Ik wil deze nieuwsbrief niet meer ontvangen
	div
		p Copyright Master it Training 2014
