.tr-info__data-en-korting
	p.tr-info__data Maandag 17 augustus 2014 - Vrijdag 21 Augustus 2014
	p.tr-info__korting Last minute korting: € 325
	form(role="form")
		.form-group
				.custom-select.custom-select--panel
					select.form-control
						option(value='amsterdam') Amsterdam
						option(value='eindhoven') Eindhoven
						option(value='rotterdam') Rotterdam
						option(value='utrecht') Utrecht									
		.form-group.form__button
			button(type='submit') Schrijf je in