.kies-datum-en-locatie
	.training-info.training-info--mobile
		.tr-info__details
			.trow
				.tr-info__code MS20415
				.tr-info__kosten € 1.895
			.trow
				.tr-info__methode open masterclass   
				.tr-info__duur 5 dagen   
		p.tr-info__small-print
			| Prijs per deelnemer, inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW.
		p.tr-info__actie Schrijf je nu in en ontvang een voetbaltafel!		
	.row
		.col--kiezen-en-datepicker
			.row
				.col--plan-en-kies
					.plan-en-kies
						.row
							.col--plan
								.plan-je-training
									h2 Plan je training
									form(role="form")
										.radio
											label
												input#PlanJeTraining_0(type='radio', name='PlanJeTraining', value='week')
												| Ik kies een week
										.radio
											label
												input#PlanJeTraining_1(type='radio', name='PlanJeTraining', value='dagen')
												| Ik plan dagen in
										.radio		
											label
												input#PlanJeTraining_2(type='radio', name='PlanJeTraining', value='later')
												| Dit doe ik later
							.col--kies
								.kies-je-locatie
									h2 Kies je locatie
									form(role="form")
										.checkbox
											label
												input#KiesJeLocatie_0(type='checkbox', name='KiesJeLocatie', value='amsterdam')
												| Amsterdam
										.checkbox
											label
												input#KiesJeLocatie_1(type='checkbox', name='KiesJeLocatie', value='eindhoven')
												| Eindhoven
										.checkbox
											label
												input#KiesJeLocatie_2(type='checkbox', name='KiesJeLocatie', value='rotterdam')
												| Rotterdam
										.checkbox
											label
												input#KiesJeLocatie_3(type='checkbox', name='KiesJeLocatie', value='utrecht')
												| Utrecht
				.col--datepicker
					.js-datepicker
					.datepicker-legenda
						ul
							li
								a.beschikbaar(href='#') Beschikbaar
							li
								a.korting(href='#') Korting
				.col--training-info--tablet
					.training-info-en-links
						.training-info.training-info--tablet
							ul
								li.tr-info__code MS20415   
								li.tr-info__duur 5 dagen   
								li.tr-info__methode open masterclass   
								li.tr-info__kosten € 1.895
							p.tr-info__small-print
								| Prijs per deelnemer, inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW.
							p.tr-info__actie Schrijf je nu in en ontvang een voetbaltafel!											
		.col--training-info-en-links
			.training-info-en-links
				.training-info.training-info--desktop
					ul
						li.tr-info__code MS20415   
						li.tr-info__duur 5 dagen   
						li.tr-info__methode open masterclass   
						li.tr-info__kosten € 1.895
					p.tr-info__small-print
						| Prijs per deelnemer, inclusief studiemateriaal, certificaat, koffie/thee en een uitgebreide lunch, exclusief 21% BTW.
					p.tr-info__actie Schrijf je nu in en ontvang een voetbaltafel!
				.training-links
					.row
						.col--tr-info__data-en-korting
							.tr-info__data-en-korting
								p.tr-info__data Maandag 17 augustus 2014 - Vrijdag 21 Augustus 2014
								p.tr-info__korting Last minute korting: € 325
						.col--tr-info__select-en-button
							form(role="form")
								.form-group
										.custom-select.custom-select--panel
											select.form-control
												option(value='amsterdam') Amsterdam
												option(value='eindhoven') Eindhoven
												option(value='rotterdam') Rotterdam
												option(value='utrecht') Utrecht									
								.form-group.form__button
									button(type='submit') Schrijf je in
							p.tr-info__share-link
								a(href='#') Stuur training door