.container
	.row
		.col--slide-text-content
			.slide__text-content
				h2.slide__title Bij 
					span Master it Training 
					| leer je wat je echt nodig hebt.
				p Een goede IT training zorgt ervoor dat mensen beter en efficienter kunnen werken. Wij bieden IT trainingen aan waarbij we gebruiken maken van een slimmere lesmethode, op 4 strategische locaties in Nederland en met de beste trainers. Succes gegarandeerd!
				ul
					li 
						i.fa.fa-check
						| Alleen leren wat je echt nodig hebt
					li
						i.fa.fa-check
						| De beste gecertificeerde IT-trainers
					li
						i.fa.fa-check
						| 100% doorgangsgarantie
				.row--phone
					.col--button-left
						button(type="button") Trainingen
					.col--button-right
						button(type="button") Certificeringen