.container
	.row
		.col--slide-text-content
			.slide__text-content
				h2.slide__title Onze trainers
				p Bij Master it word je begeleid door zeer bekwame IT trainers. Door zijn kennis, ervaring en praktijkvoorbeelden, krijg je precies de ondersteuning die je nodig hebt.
				ul
					li 
						i.fa.fa-check
						| Alle trainers zijn gecertificeerd
					li
						i.fa.fa-check
						| Ruime ervaring
					li
						i.fa.fa-check
						| Individuele aandacht
				.row--phone
					.col--button-left
						button(type="button") Trainingen
					.col--button-right
						button(type="button") Certificeringen