.container
	.row
		.col--slide-text-content
			.slide__text-content
				h2.slide__title Open Master Class
				p Slimmer trainen is eenvoudig als je bij iedere cursist rekening houdt met het instapniveau, het leerdoel en de leersnelheid. Slimmer trainen, betekent dat iedere individuele cursist het maximale haalt uit zijn IT training. Wij noemen dat de Open Master Class (OMC).
				ul
					li 
						i.fa.fa-check
						| Jij bepaalt het leerdoel, het tempo en wanneer
					li
						i.fa.fa-check
						| Maximaal rendement
					li
						i.fa.fa-check
						| Alles uit je training halen!
				.row--phone
					.col--button-left
						button(type="button") Trainingen
					.col--button-right
						button(type="button") Certificeringen