.container
	.row
		.col--slide-text-content
			.slide__text-content
				h2.slide__title De 
					span CertificeringsPas
				h3.slide__subtitle Zo eenvoudig certificeer je dus!
				p Is jouw leerdoel het behalen van een Microsoft certificaat? Dan is de CertificeringsPas misschien iets voor jou.
				ul
					li 
						i.fa.fa-check
						| Onbeperkt trainen; binnen 1 jaar Microsoft gecertificeerd
					li
						i.fa.fa-check
						| Compleet IT opleidingstraject
					li
						i.fa.fa-check
						| 25% voordeliger
				.row--phone
					.col--button-left
						button(type="button") Trainingen
					.col--button-right
						button(type="button") Certificeringen