.springest-banner
	.springest-logo
		img(src="img/springest-logo-720x387px.png")
	.springest-rating 8.2
	.meta Deelnemer Querying Microsoft SQL Server 2012, Maart 2014
	.citaat Prettig en goed opgezet materiaal, zeer bekwame docent en een rustige leeromgeving. Een goede mix!