nav#offCanvasMenu.navmenu.navmenu-default.navmenu-inverse.navmenu-fixed-left.offcanvas(role='navigation')
	ul.nav.navmenu-nav.off__main
		li.nav__home: a(href="/") Home
		li.nav__trainingen: a(href="trainingen.html") Trainingen
		li.nav__certificeringen: a(href="certificeringen.html") Certificeringen
		li.nav__master-it: a(href="master-it.html") Master it
		li.nav__nieuws: a(href="nieuws.html") Nieuws
		li.nav__contact: a(href="contact.html") Contact
	ul.nav.navmenu-nav.off__contact
		li.telefoon: a(href='#') 040 23 23 390
		li.chat: a(href='#') chatten
		li.email: a(href='mailto:info@masterit.nl') mailen
	ul.nav.navmenu-nav.off__extra
		li.english: a(href="#") English
		li.login: a(href="login.html") Log in
		li.cart: a(href="cart.html") Winkelmand (0)
		li.zoek: a(href="#") Zoek
.col--mobile-menu-left
	.mobile-menu__left
		.row
			.col--hamburger-icon
				a.hamburger(data-toggle='offcanvas', data-target='#offCanvasMenu', data-canvas='body'): i.fa.fa-bars
			.col--phone-icon
				a.phone(href="tel:+31402323390"): i.fa.fa-phone
.col--brand
	.hd__branding
		h1.site-name Master it Training
		.site-logo
			a(href="/")
				img.logo--blue(src="../img/Master-It-Logo-507x160px.png" alt="Master it Training")
				img.logo--white(src="../img/Master-It-Logo-507x160px-WHITE-RED.png" alt="Master it Training")
.col--search-contact
	.hd__contact-details-and-search
		.hd__contact-details
			ul
				li.details__telephone
					i.fa.fa-phone-square
					a(href="tel:+31402323390") 040 23 23 390
				li.details__chat
					i.fa.fa-comment
					a(href="#") chatten
				li.details__email
					i.fa.fa-envelope
					a(href="mailto:info@master-it.nl") mailen
				li.details__opening-hours ma-vr 9:00-19:00
		.hd__search
			.input-group
				input.form-control(type="text" placeholder="Zoek training, certificaat of informatie...")
				span.input-group-btn
					button.btn.btn-primary(type='button') Zoek
.col--shopping-cart
	.hd__language-and-login
		ul
			li.english: a(href="#") English
			li.login: a(href="login.html") Log in
	.hd__shopping-cart
		i.fa.fa-shopping-cart
		a(href="templates.html") Winkelwagen 
			span.cart__byline online inschrijven
.col--mobile-menu-right
	.mobile-menu__right
		.row
			.col--search-icon
				a.search(href="#"): i.fa.fa-search
			.col--cart-icon
				a.cart(href="templates.html"): i.fa.fa-shopping-cart