.aanbod-overzicht.aanbod__top-10
	h2
		span Top 10 trainingen & certificeringen
	ol
		li: a(href="#") 
			span.product-code-cell 
				span.product-code MS6292
			span.product-name Installing and Configuring Windows 7 Client
		li: a(href="#")
			span.product-code-cell 
				span.product-code MSEX01
			span.product-name Microsoft Examenvoucher
				span.product-extra Nieuw
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS10774
			span.product-name Querying Microsoft SQL Server 2012
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS10266
			span.product-name Programming with C# using Microsoft .NET Framework 4
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS6425
			span.product-name Configuring and Troubleshooting Windows Server 2008 Active Directory Domain Services
				span.product-extra Korting
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS6292
			span.product-name Installing and Configuring Windows 7 Client
		li: a(href="#")
			span.product-code-cell 
				span.product-code MSEX01
			span.product-name Microsoft Examenvoucher
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS10774
			span.product-name Querying Microsoft SQL Server 2012
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS10266
			span.product-name Programming with C# using Microsoft .NET Framework 4
		li: a(href="#")
			span.product-code-cell 
				span.product-code MS6425
			span.product-name Configuring and Troubleshooting Windows Server 2008 Active Directory Domain Services
